.container.about
  .row
    .col.s12
      h5.h5mix me, in a nutshell
      hr.hrmix
      .row
        .col.s12.center-align
          img.responsive-img#me(src='../../assets/me.jpg')
      .row
        .col.s12
          p.flow-text
            | I've always enjoyed building things. I started with Estes rockets and model planes as a kid, but since then I've moved on to furniture and motorcycle parts. It felt like a natural progression to move on to coding, where I get to build things everyday.
          p.flow-text
            | I would love to build things for you, so if you need something built, get in touch with me.
