.intro.z-depth-1
  h3.grey-text.text-lighten-5 CHRISTOPHER OYLER
  h5.grey.lighten-4.grey-text.text-darken-1.flow-text: a.modal-trigger(href='#modal1') full stack web developer
.modal#modal1
  .modal-content
    img.responsive-img#cv(src='../../assets/ChristopherOyler-CV.jpeg')
    
.container.portfolio
  h5.h5mix portfolio
  h6.h6mix MY LATEST PROJECTS
  hr.hrmix
  .row
    .col.s12
      a.modal-trigger(href='port1'): img.responsive-img(src='../../assets/auctionsmith.jpg')
    .col.s12.l4
      a.modal-trigger(href='port2'): img.responsive-img(src='../../assets/roadtrip.png')
    .col.s12.l4
      a.modal-trigger(href='port3'): img.responsive-img(src='../../assets/address.png')
  .row
    .col.s12.l4
      a.modal-trigger(href='port4'): img.responsive-img(src='../../assets/checkers.png')
    .col.s12.l4
      a.modal-trigger(href='port5'): img.responsive-img(src='../../assets/hanoi.jpg')
    .col.s12.l4
      a.modal-trigger(href='port6'): img.responsive-img(src='../../assets/gitblame1.jpg')
.modal#port1
.modal#port2
.modal#port3
.modal#port4
.modal#port5
.modal#port6
        
    //- .col.s12.m12.l12.portfolio-holder
    //-   img.materialboxed.port(src='../../assets/auctionsmith.jpg')
    //-   img.materialboxed.port(src='../../assets/roadtrip.png')
    //-   img.materialboxed.port(src='../../assets/address.png')
  //- .row
    .col.s12.m12.l12.portfolio-holder
      img.materialboxed.port(src='../../assets/checkers.png')
      img.materialboxed.port(src='../../assets/hanoi.jpg')
      img.materialboxed.port(src='../../assets/gitblame1.jpg')
.container.about
  h5.h5mix about me
  //- h6.h6mix let me introduce my self
  hr.hrmix
  .row
    .col.s12.center-align
      img.responsive-img#me(src='../../assets/me.jpg')
  //- hr
  .row
    .col.s12
      //- h5.h5mix Story
      p.flow-text
        | I've always enjoyed building things. I started with Estes rockets and model planes as a kid, but since then I've moved on to furniture and motorcycle parts. It felt like a natural progression to move on to coding, where I get to build things everyday.
      p.flow-text
        | I would love to build things for you, so if you need something built, get in touch with me.
.container.contact
  h5.h5mix Busy Working At ZURB
  h6.h6mix But I'm always interested in new opportunities
  hr.hrmix
  .row
    .col.s12.m8.offset-m2.l6.offset-l3.contact-holder
      .card.grey
        .card-content.center-align
          span San Francisco, California
          hr.cardhr
          p: a(href='1-512-587-5236')#phone 512 • 587 • 5236
          hr.cardhr
          a(target='_blank' href='https://twitter.com/chrisoyler'): i.center-align.fa.fa-2x.fa-twitter.social
          a(target='_blank' href='https://www.linkedin.com/in/christopheroyler'): i.center-align.fa.fa-2x.fa-linkedin.social
          a(target='_blank' href='https://github.com/IAmEddieDean'): i.center-align.fa.fa-2x.fa-github.social
          a(href='mailto:christopher.oyler@gmail.com?Subject=Hi,%20how%20you?'): i.center-align.fa.fa-2x.fa-envelope
