.intro.z-depth-1
  h3.grey-text.text-lighten-5 CHRISTOPHER OYLER
  h5.grey.lighten-4.grey-text.text-darken-1.flow-text: a.modal-trigger(href='#modal1') full stack web developer
.modal#modal1
  .modal-content
    img.responsive-img#cv(src='../../assets/ChristopherOyler-CV.jpeg')
