.container.portfolio
  h5.h5mix portfolio
  h6.h6mix MY LATEST PROJECTS
  .container-fluid
    .col.s12.m8.offset-m2.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator.responsive-img(src='../../assets/zurbyeti.svg')
        .card-content.center-align
          span.card-title.activator.grey-text.text-darken-4
            | Foundation 6
        .card-reveal
          p
            | The next iteration of one of the most popular CSS frameworks in the world, I'm currently working on the JavaScript code base to make it faster, lighter, and more robust. I hope you like it!
          p
            a(href='http://zurb.com/article/1403/foundation-6-prototype-to-production' target='_blank') View Blog
          span.card-title.grey-text.text-darken-4
            i.material-icons.right close
    .col.s12.m8.offset-m2.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator.responsive-img(src='../../assets/auctionsmith.jpg')
        .card-content.center-align
          span.card-title.activator.grey-text.text-darken-4
            | AuctionSmith
        .card-reveal
          p
            | A prototype auction application I built for my final project at CodingHouse. It utilizes Angular JS, Bootstrap 3, Hapi JS, and Mongo DB.
          p
            a(href='http://auctionsmith.info' target='_blank') View Project
          span.card-title.grey-text.text-darken-4
            i.material-icons.right close
    .col.s12.m8.offset-m2.l4
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator.responsive-img(src='../../assets/agilelabs.jpg')
        .card-content.center-align
          span.card-title.activator.grey-text.text-darken-4
            | AgileLabs
        .card-reveal
          p
            | A talent marketplace built to make it easier for coding bootcamp grads to find employment, and employers to find developers. Built with a team of bootcamp grads.
          p
            a(href='http://agilelabs.com' target='_blank') View Project
          span.card-title.grey-text.text-darken-4
            i.material-icons.right close
