nav
  .nav-wrapper.grey.lighten-4
    a.brand-logo(href='#!') C(O)
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.mdi-navigation-menu
    ul.right.hide-on-med-and-down
      //- li
      //-   a(ui-sref='blog') Blog
      //- li
      //-   a(ui-sref='contact') Contact Me
      li
        a(ui-sref='login') Admin
    ul#mobile-demo.side-nav
      //- li
      //-   a(ui-sref='blog') Blog
      //- li
      //-   a(ui-sref='contact') Contact Me
      li
        a(ui-sref='login') Admin
