nav
  .nav-wrapper.grey.lighten-4
    a.brand-logo(href='#') C(O)
    a.button-collapse(href='#', data-activates='mobile-nav')
      i.mdi-navigation-menu
    ul.right.hide-on-med-and-down
      li
        a(target='_blank' href='https://twitter.com/chrisoyler'): i.center-align.fa.fa-2x.fa-twitter
      li
        a(target='_blank' href='https://www.linkedin.com/in/christopheroyler'): i.center-align.fa.fa-2x.fa-linkedin
      li.git
        a(target='_blank' href='https://github.com/IAmEddieDean'): i.center-align.fa.fa-2x.fa-github
    ul#mobile-nav.side-nav
      li
        a(target='_blank' href='https://twitter.com/chrisoyler'): i.center-align.fa.fa-2x.fa-twitter
      li
        a(target='_blank' href='https://www.linkedin.com/in/christopheroyler'): i.center-align.fa.fa-2x.fa-linkedin
      li
        a(target='_blank' href='https://github.com/IAmEddieDean'): i.center-align.fa.fa-2x.fa-github
